@import "tailwindcss";

:root {
  --gravastar-green: #1eff05;
  /* Verde neón */
  --gravastar-cyan: #2ef8a0;
  /* Cian brillante */
  --gravastar-magenta: #ff0571;
  /* Magenta intenso */
  --gravastar-purple: #ae3dff;
  /* Púrpura fluorescente */
  --gravastar-orange: #ffa300;
  /* Naranja eléctrico */
  --gravastar-yellow: #e7c500;
  /* Amarillo vibrante */
  --gravastar-blue: #13a8fe;
  /* Azul neón */
  --gravastar-background: #000117;
  /* Fondo oscuro para contraste */
}

/*estilos de botón para agregar a carrito*/
.add-to-cart {
  background: var(--gravastar-magenta);
  border: none;
  padding: 0.6rem 1rem;
  color: white;
  border-radius: 0.5rem;
  cursor: pointer;
  font-weight: bold;
  transition: background 0.3s ease;
}

.add-to-cart:hover {
  background: var(--gravastar-purple);
}